
.section.horizontalManageSort.AsymDoub3 {
	width : 50%; 
}
.section.horizontalManageSort.AsymDoub4 {
	width : calc(50% - 5px);
}  

.section.horizontalManageSort.AsymDoub5 {
	width : 35%; 
}
.section.horizontalManageSort.AsymDoub6 {
	width : calc(65% - 5px); 
}  
.section.horizontalManageSort.AsymDoub7 {
	width : 30%;  
}
.section.horizontalManageSort.AsymDoub8 {
	width : calc(70% - 5px);   
}     
  
.tipBoxwarning{
	font-size: 11px;   
	color: red;  
}
.trbt{
	position: relative;
	padding-bottom: 15px;
}
.conGroup.verticalManageSort .searchGroup .tbox.topLineSearch {
	width : calc(100% - 200px);
}
.popup .popupCon.fullwideSort {
	min-width: 1500px;
	padding-bottom: 0%; 
}
  
.inTblBoxGroup.twinSort.highHeight {
	display: inline-block;
    width: calc(50% - 10px);   
    margin: 3px;
	border: 1px solid #ccc;
	vertical-align : top;
	height : 650px;
	overflow-y : auto; 
}
.page_group.underSort {
	padding : 0;
	bottom : 20px;
	width : 100%;
	display : block;
    text-align : center;
	padding-top : 40px;
	padding-bottom : 40px;
}
.btnGroup.verticalBottomSort .btn.searchSort {
	width: calc(100% - 20px);
    height: 25px;
    line-height: 25px;
	font-size: 12px;  
	border-radius: 4px;
	text-align: center;
	background-color: #60af9e;
	color: #fff;  
}

.conGroup.verticalManageSort .searchGroup .tbox.topLineSearchMod.normal {
	width : 350px;   
}

.headLineBox.pageControlSort.center {
	text-align : center;    
}   

  

.conGroup.verticalManageSort .sboxGroup.listArraySortLeft .sbox.small {
	width : 50px;
	vertical-align: middle;  
} 
.sboxGroup.listArraySortLeft {  
	display : inline-block;
	float : left;
	margin-bottom : 10px; 
}
  
.btn.loadSort{
    display: inline-block;
    margin-left: 5px;
    font-size: 12px;
    background-color: #353e4f;
    color: #fff;
    min-width: 90px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 4px;  
}

.btnGroup.inListTable a.btn.deleteSort {
	display : inline-block;
	margin : 0 auto;
	width : auto;
	padding : 0 5px;
	height : 25px;
	line-height : 25px;
	text-align : center;
	border-radius : 4px;
	background-color :#C90000; 
	color  : #fff;
	font-size : 12px;
}    
 
.tarea.full {
    display: block;  
    resize: none;
    width: calc(100% - 65px);
    height: 104px;  
    padding: 13px 30px;
    font-family: "Noto Sans KR",sans-serif;  
    background-color: #ffffff;
}
.mt15{
  
	margin-top: 15px;
}
  
.mt10{
  
	margin-top: 10px;
}

.ftred{ 
	color: red;
}

.tbox.small { 
	width : 150px;
	height: 20px;
}

.tbox.normal {
	width : 200px; 
	height : 100%;
	height : 25px;
	/* border : none; */
	padding : 0 5px;
} 

.tbox.regFullSort.Textleft {  
    /* width : 100%; */
    width : calc(100% - 4px);
	padding : 0; 
}
.sbox.tiny { 
    width: 125px;
    border: none;
    background-color: #fff;
    height: 27px;
	border: 1px solid #d7dae2;
}  
.sbox.tinys { 
    width: 103px; 
    border: none;
    background-color: #fff;
    height: 27px;
	border: 1px solid #d7dae2;
} 


.section.searcManageSort.Seven {
	width : 70%;    
}
.section.horizontalManageSort.Three {
    display: inline-block;
    width: calc(30% - 14px);
    vertical-align: top; 
    border: 1px solid #d7dae2;
    position: relative;
    min-width: 300px;
    padding-bottom: 40px;
}

.betweenWaveText.left {
	float: left;    
}
input[type="checkbox"] {
    opacity: 0;
    width: 100%;
    height: 18px;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    margin: 0;
    cursor: pointer;
}  
.checkBoxCase {
    position: relative;
    display: inline-block;
    /* width: 18px; */
    width: auto;
    height: 18px;
}

.textRight{
	text-align: right;
}   
.betweenText{
	vertical-align : top;
	line-height : 35px;
	float: left; 
	padding: 0 5px; 
}
.inTblBoxGroup.fullSort {
    display: inline-block;
    width: calc(100% - 10px);
    margin: 3px; 
    border: 1px solid #ccc;
    vertical-align: top;
    height: 180px;   
    overflow-y: scroll;   
}  

.popup.centerSort.normal {
    top: 50%;
    left: 50%;
    transform: translate(-48%, -48%);
    background-color: #fff;
    height: auto;
}    

.popup.centerSort {
    top: 50%;
    left: 50%;
    transform: translate(-48%, -48%);
    background-color: #fff;
    height: auto; 
}
  